<!DOCTYPE html>
@{
            ViewBag.Title = "Index";
            
            var X = Html.X();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @(Html.X().ResourceManager())
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">


        <h2>Index</h2>

        @*@section example*@
{
            @(X.Container()
        .Layout(LayoutType.VBox)
        .Height(650)
        .Items(
            X.FormPanel()
                .Title("Last Button by default")
                .BodyPadding(5)
                .Width(350)
                .Items(
                    X.TextField()
                        .FieldLabel("Item 1"),
                    X.TextField()
                        .FieldLabel("Item 2")
                )
                .Buttons(
                    X.Button().
                        Text("Button 1"),
                    X.Button()
                        .Text("Button 2")
                        .OnClientClick("Ext.Msg.alert('ENTER', 'ENTER is intercepted by Button2');")
                ),

            X.FormPanel()
                .Title("Button by Index")
                .DefaultButton("1")
                .BodyPadding(5)
                .Width(350)
                .Items(
                    X.TextField()
                        .FieldLabel("Item 1"),
                    X.TextField()
                        .FieldLabel("Item 2")
                )
                .Buttons(
                    X.Button().
                        Text("Button 1"),
                    X.Button()
                        .Text("Button 2")
                        .OnClientClick("Ext.Msg.alert('ENTER', 'ENTER is intercepted by Button2');"),
                    X.Button().
                        Text("Button 3"),
                    X.Button().
                        Text("Button 4")
                ),

            X.FormPanel()
                .Title("Button by ID")
                .DefaultButton("Button2")
                .BodyPadding(5)
                .Width(350)
                .Items(
                    X.TextField()
                        .FieldLabel("Item 1"),
                    X.TextField()
                        .FieldLabel("Item 2")
                )
                .Buttons(
                    X.Button().
                        Text("Button 1"),
                    X.Button()
                        .Text("Button 2")
                        .ID("Button2")
                        .OnClientClick("Ext.Msg.alert('ENTER', 'ENTER is intercepted by Button2');"),
                    X.Button().
                        Text("Button 3"),
                    X.Button().
                        Text("Button 4")
                ),

            X.FormPanel()
                .Title("Button by Selector")
                .DefaultButton("button[text=Button 2]")
                .BodyPadding(5)
                .Width(350)
                .Items(
                    X.TextField()
                        .FieldLabel("Item 1"),
                    X.TextField()
                        .FieldLabel("Item 2")
                )
                .Buttons(
                    X.Button().
                        Text("Button 1"),
                    X.Button()
                        .Text("Button 2")
                        .OnClientClick("Ext.Msg.alert('ENTER', 'ENTER is intercepted by Button2');"),
                    X.Button().
                        Text("Button 3"),
                    X.Button().
                        Text("Button 4")
                )
        )
            )
        }

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>